@import '../../main'

.search
  position: absolute
  top: 48px
  width: 560px
  right: 0
  left: 0
  margin: auto
  @extend .shadow

  input
    height: 48px
    width: 528px
    border: none
    padding: 0 16px
    font-size: 20px
    color: #888

.search-result
  width: 528px
  padding: 0 16px
  background: #fff
